/* style page body */
body {
  background-color: #222;
  color: white;
  text-align: center;
}

/* style page heading */
h1 {
  font-family: fantasy;
  font-size: 60px;
  margin-top: 40px;
}

/* style paragraphs */
p {
  font-size : 20px;
}

/* style buttons */
button {
  background-color: #122;
  border: none;
}

.settings {
  margin-bottom: 30px;
}
#breakLength, #sessionLength, #bl, #sl {
  display: inline-block; 
}

#sessionLength {
  margin-left: 20%;
}

.clock {
  border: 2px solid green;
  border-radius: 100%;
  width: 20%;
  padding: 50px 0;
  margin: 20px auto;
}

.clockType, #timer {
  font-size: 40px;
}

/* style page footer */
.footer {
  padding-bottom: 10px;
  margin-top: 30px;
}